.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .checkout-content {
    max-height: 450px; 
    overflow-y: auto; 
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    margin-bottom: 10px;
  }
  
  .form-input input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
  }
  
  .form-input input:focus {
    outline: none;
  }
  
  .form-label {
    font-size: 1.2rem;
  }
  
  .name-inputs {
    display: flex;
  }
  
  .first-name,
  .last-name {
    flex: 1;
    margin-right: 10px;
  }
  
  .checkout-button {
    background-color: rgb(140, 105, 105);
    color: white;
    border: none;
    height: 2.5rem;
    width: 150px;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .form-input select {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    margin-bottom: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
  }