.App {
  text-align: center;
  padding-top: 20px;
  background-color: #eee;
  min-height: 100vh;
  width: 100vw;
}

.search-bar {
  padding-top: 20px;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px
}

.login-bar {
  text-align: left;
  width: 15%;
  margin-left: 20px; 
  margin-right: auto;
  min-width: 200px
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rosybrown;
  font-size: 55px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rosybrown;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}