.App {
  text-align: center;
  padding-top: 20px;
  background-color: #eee;
  height: 100vh;
  width: 100vw;
}

.search-bar {
  padding-top: 20px;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rosybrown;
  font-size: 55px;
  margin-bottom: 20px;
}
